*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
:root{
    --link-color: #853ae0;
    --price-color: #b12704;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1120px;
    width: 72%;
    margin: 40px auto;
}
.product{
    border: 1px solid #999999;
    width: 455px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 3px;
}
.product img{
    width: 400px;
    height: 325px;
    object-fit: contain;
    margin-bottom: 10px;
}
.product h2{
    font-weight: bold;
}
.product-company{
    margin-bottom: 10px;
}
.product-price{
    color: var(--price-color);
    margin-bottom: 20px;
}
.product-features{
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}
.product-buy, .product-add{
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}
.product-back{
    font-size: 12px;
    display: block;
    font-style: italic;
    color: #000;
    padding: 10px 10px 10px 0px;
}
a:hover{
    text-decoration: underline;
}