*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --first-cardColor: #8e44ad;
    --second-cardColor: #009432;
    --third-cardColor: #0652DD;
    --four-cardColor: #161617;
}
.main{
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: var(--first-cardColor);
    width: 330px;
    height: 200px;
    min-width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 15px;
}
.card:nth-child(2){
    background-color: var(--second-cardColor);
}
.card:nth-child(3){
    background-color: var(--third-cardColor);
}
.card:nth-child(4){
    background-color: var(--four-cardColor);
}
.img-chip{
    width: 50px;
    padding-top: 35px;
    margin-left: -5px;
}
.card-logo{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    margin-top: -10px;
}
.card-num {
    font-weight: 200;
    font-size: 25px;
    margin-top: -5px;
}
.card-name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: monospace;
}
.card-val, .card-date {
    font-family: 'Tahoma', sans-serif;
}
.card-val {
    font-size: 9px;
}
.footer{
    display: flex;
    justify-content: space-between;
}