* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Arial, sans-serif;
}

.nav-bar {
    border-bottom: 2px solid lightgray;
}

.main {
    padding: 80px 0
}

.container {
    width: 75%;
    max-width: 1140px;
    min-width: 300px;
    margin: auto;
}

.nav-bar-menu {
    width: 60%;
    margin: auto;
    padding: 21px;
}

.nav-bar-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 700;
    font-size: 14px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-sidebar ul {
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
}

.main-sidebar ul li {
    margin-bottom: 9px;
}

.main-sidebar ul li span {
    color: #9a9999;
}

.main-sidebar {
    max-width: 156px;
}

.main-content-box-parent {
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 267px;
}

.main-content-box {
    margin: 0 3px;
}

.main-box-img {
    padding: 46px 19px;
    background-color: #f5f5f5;
}

.main-box-img img {
    width: 100%;
    padding-top: 40px;
}

.main-item-content {
    margin: 10px;
}

.main-box-title {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 700;
}

.main-box-title,
.main-item-name {
    margin-bottom: 10px;
}

.main-item-name,
.main-stock {
    color: #9a9999;
    font-size: 14px;
}
