
.top{
    border: 0.5px solid;
    background-color: #ddaa00;
    text-align: center;
    color: rgb(255, 255, 255);
}
.border{
    border: 1px solid gray;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(167, 167, 167, 0.849);

}
.borderin{
    border: 0.5px solid black;
    width: 230px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
    padding-left: 20px ;
    padding-right: 20px ;
}
.border2{
    
    background-color: gray;
    display: flex;
    padding: 10px;
}

.link1{
    padding-bottom: 10px;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 10px;
}
.full{
    width: 433px;
    border: 1px solid;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    margin: 5px;
    height: 455px;
}
.img{
    width: 433px;
    height: 299px;
}
.link2{
    padding-bottom: 10px;
    padding-left: 188px;
    padding-right: 188px;
    padding-top: 10px;
}
.link3{
    padding-bottom: 10px;
    padding-left: 172px;
    padding-right: 172px;
    padding-top: 10px;
}