*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    list-style: none;
}
:root{
    --primary-color: #ee626b;
    --bg-color: #008af8;
    --hover-color: #0071f8;
}
button, input, optgroup, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.section-heading{
    margin-bottom: 70px;
}
.section-heading h6 {
    color: var(--primary-color);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-heading h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
}
img{
    width: 100%;
    overflow: hidden;
}
.container{
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    margin: auto;
    --bs-gutter-y: 0;
    width: 100%;
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.section {
    margin-top: 120px;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
/* @media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
} */
.header-sticky{
    position: absolute;
    background-color: transparent;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-nav-bar img{
    max-width: 110px;
}
.background-header{
    background-color: #0071f8 !important;
    border-radius: 0px 0px 25px 25px;
    height: 80px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.nav-bar{
    background: transparent;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
}
.logo-nav-bar,
.left-nav-bar,
.right-nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav-bar{
    margin-right: 55px;
    display: flex;
    justify-content: left;
}
.menu-nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section{
    background-image: url(./img/banner-bg.jpg);
    border-radius: 0px 0px 150px 150px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}
.right-nav-bar ul{
    display: flex;
    gap: 20px;
}
.right-nav-bar ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: transparent;
    letter-spacing: .25px;
}
.right-nav-bar ul li{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav-bar ul li:hover a {
    background-color: rgba(255, 255, 255, 0.10);
    cursor: pointer;
}
.right-nav-bar ul li:nth-child(1) a{
    background-color: rgba(255, 255, 255, 0.10);
}
.right-nav-bar ul li:nth-child(5) a{
    background-color: var(--primary-color);
}
.hero-banner{
    display: flex;
    margin-top: 100px;
}
.hero-banner-txt{
    display: flex;
    flex-direction: column;
    max-width: 635px;
    margin-top: 60px;
}
.hero-banner-img{
    margin-left: 20px;
    max-width: 410px;
}
.hero-right-image{
    max-width: 410px;
    position: relative;
}
.hero-container{
    display: flex;
    justify-content: space-between;
}
.hero-right-image img{
    border-radius: 25px;
}
.hero-banner-price{
    position: relative;
    left: 350px;
    bottom: 450px;
}
.hero-banner-txt h6{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.hero-banner-txt h2{
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.hero-banner-txt p{
    color: #fff;
    margin-bottom: 70px;
    font-size: 14px;
    line-height: 28px;
}
.hero-banner-txt h2::after{
    position: absolute;
    background-image: url(./img/caption-dec.png);
    width: 202px;
    height: 12px;
    content: '';
    left: 140px;
    bottom: 0;
}
.hero-search-input form{
    position: relative;
    max-width: 450px;
}
.hero-search-input form input{
    max-width: 450px;
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
}
.hero-search-input form button{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
    cursor: pointer;
}
.hero-search-input form button:hover{
    background-color: var(--hover-color);
}
.hero-banner-price{
    position: absolute;
    left: 320px;
    top: 20px;
    border-radius: 25px;
    background-color: var(--bg-color);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 4px 15px;
    width: 69px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner-offer{
    position: absolute;
    left: -25px;
    bottom: -25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.main-features{
    margin-top: -80px;
}
.features-item{
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.features-item-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    background-color: var(--hover-color);
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-item-img img{
    max-width: 44px;
}
.features-item h4 {
    font-size: 17px;
    margin-top: 25px;
    text-transform: uppercase;
}
.features-card{
    max-width: 300px;
    width: 100%;
    margin: 0 15px;
}
.features-item:hover .features-item-img {
  background-color: var(--primary-color);
}
.trending-button,
.most-played-btn{
    margin-top: 32px;
    text-align: right;
}
.trending-button a,
.most-played-btn a{
    display: inline-block;
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}
.trending-button a:hover,
.most-played-btn a:hover {
    background-color: var(--hover-color);
    color: #fff;
}
.trending-main-section,
.most-played-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.trending-top{
    width: 100%;
    display: flex;
    gap: 68%;
}
.most-played-top{
    width: 100%;
    display: flex;
    gap: 74%;
}
.trending-footer,
.most-played-footer,
.categories-footer{
    display: flex;
    gap: 3%;
}
.trending-item{
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
}
.trending-thumb,
.most-played-footer-thumb{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.trending-thumb-price{
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}
.trending-item-down-content{
    padding: 25px;
}
.trending-item-category{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;
}
.trending-item-down-content h4{
    font-size: 17px;
    font-weight: 600;
    transition: all .3s;
}
.trending-item-down-content a{
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    transition: all .3s;
}
.trending-item:hover .trending-item-down-content a,
.most-played-footer-item:hover .most-played-footer-down-content a{
    background-color: var(--hover-color);
}
.trending-item:hover .trending-item-down-content h4,
.most-played-footer-item:hover .most-played-footer-down-content h4{
    color: var(--hover-color);
}
.trending-item-down-content a i{
    color: white;
}
.most-played-footer-item{
    background-color: #fff;
    position: relative;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.most-played-footer-down-content{
    padding: 20px 15px 40px 15px;
}
.most-played-footer-category{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;
}
.most-played-footer-down-content h4{
    font-size: 17px;
    font-weight: 600;
    transition: all .3s;
}
.most-played-footer-down-content a{
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    transition: all .3s;
}
.main-most-played{
    background-color: #f7f7f7;
    padding: 100px 0px;
    border-radius: 150px;
}
.categories-top{
    text-align: center;
}
.categories-footer-item{
    background-color: var(--hover-color);
    position: relative;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.categories-footer-item h4{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 22px;
    margin-bottom: 0px;
}
.categories-footer-thumb{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    top: 2.5px;
}