@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    list-style: none;
}
:root{
    --primary-color: #ee626b;
    --bg-color: #008af8;
    --hover-color: #0071f8;
}
.right-nav-bar ul li:nth-child(3) a{
    background-color: rgba(255, 255, 255, 0.10);
}
p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.fade {
    transition: opacity .15s linear;
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.single-product-left-img{
    margin-right: 80px;
}
.single-product-left-img img{
    border-radius: 25px;
}
.single-product-right{
    align-self: center;
    max-width: 660px;
}
.single-product-right h4{
    font-size: 27px;
    margin-bottom: 20px;
}
.single-product-right-price{
    font-size: 27px;
    font-weight: 700;
    color: var(--hover-color);
}
.single-product-right-price em {
    font-style: normal;
    color: #c8c8c8;
    font-size: 17px;
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 5px;
}
.single-product-right p{
    margin-top: 50px;
    margin-bottom: 60px;
}
.single-product-right form{
    display: inline;
}
.single-product-right form input {
    width: 80px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.single-product-right form button:hover {
    background-color: var(--hover-color);
}
.single-product-right form button i{
    margin-right: 5px;
    color: white;
}
.single-product-right form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    transition: all .3s;
}
.single-product-right ul {
    margin-top: 60px;
}
.single-product-right ul li {
    display: block;
    margin: 20px 0px;
    font-size: 14px;
    color: var(--hover-color);
}
.single-product-right ul li span {
    width: 120px;
    display: inline-block;
    color: #aaa;
}
.single-product-right ul li a{
    color: var(--hover-color);
}
.sep{
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 80px 0px;
}
.single-product{
    display: flex;
    max-width: 1310px;
    flex-wrap: wrap;
}
.single-product-footer{
    width: 100vh;
}
.main-tabs-content{
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 60px;
    transition: all 0.3s;
}
.nav-tabs-content ul{
    border-bottom: none;
    display: flex;
}
.nav-item{
    border-right: 1px solid #d7d7d7;
    margin-right: 30px;
    padding-right: 30px;
}
.nav-item:last-child {
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}
.nav-item-link{
    border: none;
    border-radius: 0px;
    background-color: transparent !important;
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1e;
    padding: 0px;
}
.tab-content{
    margin-top: 30px;
}
.tab-content {
    position: relative;
}
.tab-pane {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: scale(1);
}
.tab-pane.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    position: absolute;
    inset: 0;
}
.tab-pane.show {
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.nav-item-link.active {
    color: var(--hover-color);
}
.related-games-footer-item{
    background-color: var(--hover-color);
    position: relative;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.related-games-footer-item h4{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 22px;
    margin-bottom: 0px;
}
.related-games-footer-thumb{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.related-games{
    display: flex;
    flex-direction: column;
}
.related-games-top{
    width: 100%;
    display: flex;
    gap: 65%;
}
.related-games-footer{
    display: flex;
    gap: 2%;
}