{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'css/own-bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-sticky">
                <nav class="nav-bar">
                    <div class="container nav-bar-container">
                        <div class="left-nav-bar">
                            <div class="logo-nav-bar">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="right-nav-bar">
                            <div class="menu-nav-bar">
                                <ul>
                                    <li>
                                        <a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shop' %}">Our Shop</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'product_details' %}">Product Details</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_us' %}">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'sign_up' %}">SIGN IN</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="page-heading">
                <div class="container">
                    <div class="header-txt">
                        <h3>Our Shop</h3>
                        <span class="page-heading-breadcrumb">
                            <a href="{% url 'home' %}">Home</a> &gt; Our Shop
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="section main-trending">
                <div class="container">
                    <ul class="trending-filter">
                        <li>
                            <a class="is_active" href="#!" data-filter="*" id="showAll">Show All</a>
                        </li>
                        <li>
                            <a href="#!" data-filter=".act" id="action">Action</a>
                        </li>
                        <li>
                            <a href="#!" data-filter=".str" id="strategy">Strategy</a>
                        </li>
                        <li>
                            <a href="#!" data-filter=".rac" id="racing">Racing</a>
                        </li>
                    </ul>
                    <div class="trending-box">
                        {% for item in product_details %}
                        {% if item.category_name == "Action" %}
                        <!-- act -->
                        <div class="trending-item act">
                            <div class="trending-thumb">
                                <a href="{% url 'product_details' %}">
                                    <img src="{{ item.image_formated.url }}" alt="">
                                </a>
                                {% if item.price == "free" %}
                                <span class="trending-thumb-price">Free</span>

                                {% elif item.old_price != "not_have" %}
                                <span class="trending-thumb-price">
                                    <em>{{ item.old_price }}</em> {{ item.price }}
                                </span>

                                {% else %}
                                <span class="trending-thumb-price">
                                    {{ item.price }}
                                </span>
                                {% endif %}
                            </div>
                            <div class="trending-item-down-content">
                                <span class="trending-item-category">{{ item.category_name }}</span>
                                <h4>{{ item.name }}</h4>
                                <a href="{% url 'product_details' %}">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                            </div>
                        </div>
                        {% elif item.category_name == "Strategy" %}
                        <!-- str -->
                        <div class="trending-item str">
                            <div class="trending-thumb">
                                <a href="{% url 'product_details' %}">
                                    <img src="{{ item.image_formated.url }}" alt="">
                                </a>
                                {% if item.price == "free" %}
                                <span class="trending-thumb-price">Free</span>

                                {% elif item.old_price != "not_have" %}
                                <span class="trending-thumb-price">
                                    <em>{{ item.old_price }}</em> {{ item.price }}
                                </span>

                                {% else %}
                                <span class="trending-thumb-price">
                                    {{ item.price }}
                                </span>
                                {% endif %}
                            </div>
                            <div class="trending-item-down-content">
                                <span class="trending-item-category">{{ item.category_name }}</span>
                                <h4>{{ item.name }}</h4>
                                <a href="{% url 'product_details' %}">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                            </div>
                        </div>
                        {% elif item.category_name == "Racing" %}
                        <!-- rac -->
                        <div class="trending-item rac">
                            <div class="trending-thumb">
                                <a href="{% url 'product_details' %}">
                                    <img src="{{ item.image_formated.url }}" alt="">
                                </a>
                                {% if item.price == "free" %}
                                <span class="trending-thumb-price">Free</span>

                                {% elif item.old_price != "not_have" %}
                                <span class="trending-thumb-price">
                                    <em>{{ item.old_price }}</em> {{ item.price }}
                                </span>

                                {% else %}
                                <span class="trending-thumb-price">
                                    {{ item.price }}
                                </span>
                                {% endif %}
                            </div>
                            <div class="trending-item-down-content">
                                <span class="trending-item-category">{{ item.category_name }}</span>
                                <h4>{{ item.name }}</h4>
                                <a href="{% url 'product_details' %}">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <footer class="main-trending-footer">
                        <div class="row">
                            <ul class="main-trending-footer-ul">
                                <li>
                                    <a href="#"> &lt; </a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#"> &gt; </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p>Copyright © 2048 LUGX Gaming Company. All rights reserved. &nbsp;&nbsp; <a rel="nofollow" href=""
                        target="_blank">Design: TemplateMo</a></p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/shop.js' %}"></script>
</body>

</html>