*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --text-color-:#0045FF;
}
.span-of-background-color-for-all{
    background-color: var(--text-color-);
}
.span-of-color-for-all{
    color: var(--text-color-);
}
.wrapper{
    font-family: sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding-left: 60px;
    padding-right: 60px;
}
.main{
    color: white;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.nav-bar a {
    color: white;
}
.nav-bar{
    max-width: 1320px;
    height: 178px;
    display: flex;
    justify-content: space-between;
    padding-top: 76px ;
    padding-bottom: 76px;
}
.left-section-of-nav-bar h1{
    color: white;
    font-size: 36px;
}
.center-section-of-nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 230px;
}
.hero-section{
    max-width: 1440px;
    height: 535px;
    color: white;
    display: flex;
}
.left-section-of-hero-section section{
    font-size: 70px;
}
.second-text-on-left-section{
    margin-left: 30px;
}
.left-section-of-hero-section footer{
    display: flex;
    justify-content: space-between;
    margin-top: 118px;
    width: 332px;
    height: 35px;
}
.left-section-of-hero-section img{
    margin-bottom: 20px;
}
.right-section-of-hero-section{
    max-width: 352.5px;
    height: 325.34 px;
    margin-top: 56px;
    margin-left: 150px;
}
.first-text-for-margin-on-hero-section{
    margin-bottom: 16px;
}
.ligreandicose-section{
    max-width: 1320px;
    height: 431.25px;
    margin-top: 239px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.top-of-ligrandicose-section{
    display: flex;
}
.top-of-ligrandicose-section h1{
    max-width: 414px;
}
.bottom-of-ligrandicose-section{
    height: 264px;
    max-width: 442.5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 115px;
}

.branddesign a{
    text-decoration: none;
    color: white;
}
.branddesign{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 330px;
    height: 520px;
}
.branddesign h3{
    margin-bottom: 20px;
    text-decoration: 2px underline ;
}
.servize{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 1320px;
    height: 546px;
    margin-bottom: 180px;
}
.webdesign a{
    text-decoration: none;
    color: white;
}
.webdesign{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 330px;
    height: 520px;
}
.webdesign h3{
    margin-bottom: 20px;
    text-decoration: 2px underline ;
}
.copywriting a{
    text-decoration: none;
    color: white;
}
.copywriting{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 330px;
    height: 520px;
}
.copywriting h3{
    margin-bottom: 20px;
    text-decoration: 2px underline ;
}
.qualunquetecnologia-section{
    color: white;
    max-width: 1440px;
    height: 405px;
    position: relative;
    text-align: center;
}
.qualunquetecnologia-section section{
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.qualunquetecnologia-section img{
    position: absolute;
    right: -60px;
}
.qualunquetecnologia-section p{
    width: 82.31px;
    height: 50px;
    top: 176px;
    position: absolute;
    right: -1300px;
}
.qualunquetecnologia-section h1{
    font-size: 65px;
    top: 78px;
    width: 900px;
    position: absolute;

}

.progettiamo-section{
    max-width: 507.61px;
    height: 214.5px;
    margin-top: 205px;
}
.text-of-prgettimo-section{
    display: flex;
    flex-direction: column;
    max-width: 393px;
}
.top-of-progettiamo-section{
    display: flex;
    justify-content: space-between;
}
.text-of-prgettimo-section h1{
    margin-bottom: 70px;
    font-size: 40px;
}
.foot-of-progettiamo-section h1{
    font-size: 70px;
}
.foot-of-progettiamo-section{
    height: 433px;
    max-width: 1383px;
    margin-top: 80px;
}
.text-of-footer-progettiamo-section{
    display: flex;
    gap: 44px;
}
.fist-half-of-footer-of-progettiamo-section{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-left: 120px;
}
.text-of-footer-progettiamo-section h3{
    width: 182.5px;
}
.second-half-of-footer-of-progettiamo-section{
    display: flex;
    margin-top: 75px;
    gap: 120px;
    margin-left: 120px;
}
.border-on-client-section{
    border: 0.5px solid;
}
.client-section{
    max-width: 1320px;
    height: 746.5px;
    margin-top: 490px;
}
.left-section-of-client-section{
    width: 124.89px;
    height: 48.75px;
}
.right-section-of-client-section{
    max-width: 990px;
    height: 745.5px;
    margin-left: 305px;
}
.button-section-of-right-section-of-client-section i{
    color: white;
}
.button-section-of-right-section-of-client-section button{
    background-color: black;
    border-color: white;
    border-radius: 100px;
    width: 450px;
    height: 106.5px;
    cursor: pointer;
}
.text-for-margin-on-apt-section-of-right-section-of-client-section{
    max-width: 530px;
    margin-right: 359px;
}
.text-for-margin-on-mobilar-section-of-right-section-of-client-section{
    max-width: 530px;
}
.text-for-margin-on-cascina-section-of-right-sectiob-of-client-section{
    max-width: 530px;
    margin-right: 220px;
}
.text-for-margin-on-grandlisa-section-of-right-section-of-client-section{
    max-width: 530px;
    margin-left: 155px;
}
.border-for-using{
    border: 0.5px solid;
    margin-bottom: 30px;
}
.right-section-of-client-section i{
    cursor: pointer;
    font-size: 35px;
}
.display-of-right-section-of-client-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.right-text-of-abiama-section{
    max-width: 600px;
    height: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-text-of-right-text-of-abiama-section h1{
    font-size: 45px;
}
.first-text-of-right-text-of-abiama-section{
    max-width: 675px;
    height: 146.25px;
    margin-bottom: 50px;
}
.second-text-of-right-text-of-abiama-section{
    max-width: 480px;
}
.abiama-section{
    display: flex;
    max-width: 1320px;
    height: 424px;
}
.lunico-section{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 200px;
}
.lunico-section p{
    width: 82.31px;
    height: 50px;
    margin-top: 176px;
    position: absolute;
    left: 10px;
}
.lunico-section img{
    position: absolute;
    left: -100px;
}
.lunico-section h1{
    font-size: 65px;
    margin-top: 78px;
    width: 910px;
    position: absolute;
    left: 200px;
}
.siamo-section{
    max-width: 1320px;
    height: 448px;
    margin-top: 800px;
    display: flex;
    margin-bottom: 200px;
}
.left-text-of-siamo-section{
    max-width: 200px;
    height: 26px;
}
.first-text-of-right-text-of-siamo-section h1{
    font-size: 45px;
    margin-bottom: 54px;
}
.right-section-of-siamo-section{
    max-width: 661.52px;
    height: 449px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.right-section-of-siamo-section h3{
    max-width: 450px;
}
.right-section-of-premi-section{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
}
.premi-section{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 200px;
}
.texts-of-right-section-of-premi-section p{
    margin-top: 20px;
}
.top-section-of-cards-section{
    max-width: 1320px;
    height: 140.75px;
    display: flex;
    gap: 193px;
    margin-bottom: 146px;
}
.right-section-of-top-section-of-cards-section{
    max-width: 408px;
    margin-top: 15px;
}
.top-section-of-foot-section-of-cards-section{
    max-width: 1350;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.foot-section-of-cards-section{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.for-all-sections-on-foot-section-of-cards-section{
    max-width: 655px;
    height: 544.81px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.for-all-sections-on-foot-section-of-cards-section footer{
    max-width: 655px;
    height: 175px;
    display: flex;
    justify-content: space-between;
}
.for-all-sections-on-foot-section-of-cards-section footer h4{
    max-width: 187.75px;
}
.for-all-sections-on-foot-section-of-cards-section footer p{
    max-width: 232.11px;
}
.foot-section-of-cards-section i{
    cursor: pointer;
    font-size: 40px;
}

.foot-section-of-foot-section-of-cards-section{
    max-width: 1350;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.button-section-foot-section-of-cards-section button{
    background-color: black;
    border-color: white;
    border-radius: 100px;
    width: 450px;
    height: 106.5px;
    cursor: pointer;
}
.button-section-foot-section-of-cards-section button i{
    color: white;
}
.button-section-foot-section-of-cards-section{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.contatti-section{
    max-width: 1320px;
    height: 941.75px;
    display: flex;
    flex-direction: column;
    gap: 85px;
}
.left-section-of-top-section-contatti-section{
    max-width: 431px;
    height: 109px;
}
.left-section-of-top-section-contatti-section h1{
    font-size: 90px;
}
.right-section-of-top-section-of-contatti-section a{
    color: white;
    margin-top: 30px;
}
.right-section-of-top-section-of-contatti-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 457.97px;
    height: 53px;
}
.top-section-of-contatti-section{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    height: 108.75px;
}
.center-section-of-contatti-section{
    max-width: 1320px;
    height: 493px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 121px;
}
.left-section-of-top-section-of-center-section-of-contatti-section div input{
    width: 477px;
    position: relative;
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: black;
    border-bottom-color: white;
    color: white;
}
.left-section-of-top-section-of-center-section-of-contatti-section i{
    position: absolute;
    right: 585px;
}
.left-section-of-top-section-of-center-section-of-contatti-section{
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.right-section-of-top-section-of-center-section-of-contatti-section input{
    width: 477px;
    position: relative;
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: black;
    border-bottom-color: white;
    color: white;
}
.right-section-of-top-section-of-center-section-of-contatti-section{
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.right-section-of-top-section-of-center-section-of-contatti-section i{
    position: absolute;
    right: 75px;
}
.top-section-of-center-section-of-contatti-section{
    max-width: 1026px;
    height: 202.5px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
}
.first-foot-section-of-contatti-section a{
    color: white;
}
.first-foot-section-of-contatti-section{
    display: flex;
    max-width: 589.78px;
    height: 44px;
}
.first-foot-section-of-contatti-section input{
    margin-bottom: 30px;
}
.second-foot-section-of-contatti-section{
    height: 22px;
    display: flex;
}
.second-foot-section-of-contatti-section input{
    margin-bottom: 5px;
}
.center-section-of-contatti-section footer button{
    background-color: black;
    border-color: white;
    border-radius: 100px;
    width: 210px;
    height: 70px;
    cursor: pointer;
    color: white;
    float: right;
}
.borders-on-foot-section-of-contatti-section{
    border: 0.5px solid;
    height: 15px;
    width: 2px;
}
.left-section-of-foot-section-of-contatti-section a{
    color: white;
    text-decoration: none;
}
.left-section-of-foot-section-of-contatti-section{
    display: flex;
    justify-content: space-between;
    max-width: 580px;
    height: 69px;
    gap: 5px;
}
.foot-section-of-contatti-section{
    max-width: 1320px;
    height: 69px; 
}
.right-section-of-foot-section-of-contatti-section{
    display: flex;
    justify-content: space-between;
    max-width: 580px;
    height: 69px;
    gap: 5px;
}
.right-section-of-foot-section-of-contatti-section a{
    color: white;
}
.foot-section-of-contatti-section section{
    display: flex;
    justify-content: space-between;
}